.container {
  display: flex;
  flex-direction: column;
  margin: 200px 100px;
  align-items: center;
  justify-content: space-between;

  &_component {
    width: 100%;
    margin: 250px auto 100px auto;
    text-align: center;
  }
}
